* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.localUser{
    display: flex;
    flex-direction: column;
    background-color: rgb(38, 36, 36);
    height: 100vh;
    width: 100vw;
    place-items: center;
    row-gap: 200px;
}

