

.nav_wrapper {
  display: grid; 
  grid-template-columns: 2fr 1fr 1fr 1fr;
  place-items: center;
  max-height: 15vh;
  background-color: rgb(29, 30, 30);
}

.box{
  background-color: rgb(29, 30, 30);
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

.b{
  justify-content: right;
  justify-items: right;
  justify-self: right;
}

.d {
  justify-content: left;
  justify-items: left;
  justify-self: left;
}



.navbar-logo{
  color: rgb(181, 11, 223);
  width: 100 px;
  height: 100 px;
}

.nav-links{
  color: rgb(149, 46, 174);
}



