* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.bookingForm{
    background-color: rgb(104, 92, 207);
    height: 100%;
    width: 100%;
    position: absolute;
    display: grid;
    place-items: center;
    overflow: auto;
}

table,th,td {
    width: 40%;
    border: 1px solid;
    text-align: center;
    background-color: brown;
}